[GatewaySelector]
Active = SmsTrade;Prowl

[Logging]
LogOutput = /tmp/alarmPublisher/

[SmsTrade]
Key = 4684adf53a3462e13521
Route = direct
From = FF Alarm
Url = https://gateway.smstrade.de/bulk

[Prowl]
ApiKey = 4568478646a63e54646f653
Url = https://prowl.weks.net/publicapi/add
Application = FF Alarm
Event = Alarm
Priority = 2
